@font-face {
  font-family: "Rocher Jewel";
  src: url(../font/rocher-jewel.ttf);
  }
  @font-face {
    font-family: "Rocher regular";
    src: url(../font/Rocher-Regular.otf);
    }

body {
  background-image: url(../images/background.jpeg);
  display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
  }
#start-screen {

    color: white;
    font-size: 3em;
}
.header {
  font-family: 'Rocher Jewel';
  font-size: 2em;
  color: #9365e2;
}
.choose-level {
  font-family: Rocher regular;
}
.level {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#game-screen{
  display:none
}

